#photoviewer{
    position: relative;
    height: 600px;
}
#photoviewer .photobuttons{
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
}
#photoviewer .photobuttons div{
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: -25px;
    top: 50%;
}
#photoviewer .photobuttons.dim{
    background: rgba(255, 255, 255, 0.2);
}
#photoviewer .photobuttons:hover{
    background: rgba(100, 100, 100, 0.8);
}
#photoviewer .photobuttons:active{
    background: rgba(255, 255, 255, 0.8);
}
#photo{
    width: 100%;
    height: 100%;
    //text-align: center;
    position: relative;
}
#photo img{
    z-index: 0;
    max-width: calc(100% - 20px);
    max-height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom:0;
    left: 10px;
    right: 10px;
    margin: auto;

}
#forward{
    right: 0px;
}
#back{
    left: 0px;
}

@media only screen and (max-width: 600px){
    #photoviewer .photobuttons{
        width: 50px;
    }
    #photoviewer{
        height: 300px;
    }
}
