html{
    height: 100%;
}
h4{
    margin: 0;
    width: auto;
}
body{
    background: #000 url(../images/background.png) repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}
header{
    text-align:center;
    border-left: 5px solid red;
    padding: 10px;
    box-shadow:         0px 7px 10px -5px rgba(50, 50, 50, 0.75);
    font-size: 30px;
    background-color: whitesmoke;
}
#content{
    box-sizing: border-box;
    //box-shadow: inset 0px 7px 10px -5px rgba(50, 50, 50, 0.75);
    //padding-top: 20px;
    height: 100%;
    max-width: 700px;
    //background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}
#contentback{
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    //background-color: white;
    height: 100%;
    right: 0;
}
#about{
    padding: 20px;
    background-color: lightgrey;
}
#about  img{
    width: 20%;
    margin: 10px;
    border-radius: 50%;
}
#top{
    //height: calc(100% - 50px);
    min-height: calc(100% - 70px);
    //box-sizing: border-box;
    overflow: hidden;
}
footer{
    background-color: white;
    min-height: 50px;
    padding: 10px;
}
nav{
    //box-shadow: inset 0px 7px 10px -5px rgba(50, 50, 50, 0.75);
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    //text-align: center;
    box-sizing: border-box;
    display: block;
}
nav ul{
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}
nav ul li{
    box-shadow: inset 0px 7px 7px -8px rgba(50, 50, 50, 0.75);
    font-family: Arial Black, Impact;
    display: inline;
    list-style: none;
    float:left;
    width: 25%;
    min-width: 100px;
    line-height: 40px;
    padding: 2px;
    text-align: center;
    box-sizing:border-box;
}
nav a{
    color: black;
}
.interestrow{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    position: relative;
    //background-attachment: fixed;

}
.interestrow.front{
    background-size: cover;
    background-position: left top;
    margin-bottom: 5px;
    background-color:  white;
}
.interestrow span{
    font-family: Arial Black, Impact;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    //width: 200px;
    text-align: right;
    color: black;
    background-color: #706F6D;

}
.subsection{
    overflow: auto;
    box-sizing: border-box;
    //height: 40px;
    background-color: lightgray;
    padding: 10px;
    //margin: 10px;
}
.subsection img{
    height: 40px;
    float: right;
}
.subsection h4{
    float: left;
}
.subsection div{
    float: left;
    width: 100%;
}
.subsection div .text{
    width: auto;
}
.details{
    overflow: auto;
    box-sizing: border-box;
    background-color: lightgray;
    padding: 10px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: none;
}
.group{
    box-sizing: border-box;
    background-color: #706F6D;
    //min-width: 400px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.group h2{
    margin: 0;
    padding: 10px;
    border-left: 5px solid red;
}
#panel{
    padding: 10px;
}
@media only screen and (max-width: 600px){
    nav{
        display: none;
        position: absolute;
    }
    nav.show{
        opacity: .95;
        z-index: 5;
        display: block;
        background-color: lightgray;
        width: 100%;
    }
    #mobilemenu{
        display: block !important;
        width: 100%;
        padding: 10px;
        background: lightgray;
        cursor: pointer;
    }
    nav ul li{
        width: 100%;
        padding: 5px;
    }
    #fullheader{
        display: none !important;
    }
    #compactheader{
        display: block !important;
    }
    nav ul li:hover{
        background-color: white !important;
    }
}
@media only screen and (max-width: 800px){
    .group{
        width: 100%;
    }
}
@media only screen and (max-width: 425px){
    .subsection img{
        display: none;
    }
    #wcg{
        display: none;
    }
}
.whitebg{
    background-color: white;
}
a{
    color: black;
    text-decoration: none;

}
a.show{
    color: blue;
    text-decoration: underline;
}
a.button{
    background-color: darkgrey;
    color: black;
    padding: 5px;
    margin: 2px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
}
a.button:hover{
    margin-left: 1px;
    margin-right: 3px;
}
a:hover{
}
nav ul li:hover{
    background-color: lightgray;
    box-shadow: inset 0px 7px 10px -5px rgba(50, 50, 50, 0.75);
}
#mobilemenu{
    font-size: 20px;
    font-weight: bold;
    display: none;
}
#fullheader{

}
#compactheader{
    display: none;
}
.footer{
    margin: 0 auto;
    max-width: 800px;
}
.showDetails{
    float: right !important;
    width: 25px !important;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    margin: 10px;
}
#wcg{
    width: 405px;
    height: 190px;
    overflow: auto;
    //width="405px" height="190px"
}
#wcg html body div{
    width: auto !important;
}
